// It's a SCSS file, SASS which will be compiled to CSS.
// See: https://sass-lang.com/guide/#preprocessing

// With Jopi Rewrite, SCSS it automatically handled.
// You have no compilation to do.

// Here we are inside a CSS component.
//
// Which mean CSS class name will be renamed in order to be uniq
// with no conflit / name collision.
//
.myPage {
  .myButton {
    color: blue;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    background: aliceblue;
    cursor: pointer;
    display: inline-block;
  }
}